.footer {
    align-items: center;
    background-color: #586A5C;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0px;
}

.footer h5 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
