.campo {
    margin: 24px 0;
}

.campo label,
.campo input,
.campo input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.campo label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.campo input {
    background-color: #FFF;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-size: 18px;
    padding: 24px;
    width: 100%;
}

.campo input::placeholder {
    color: #A4A4A4;
    font-size: 16px;
}

.campo-color input {
    background-color: transparent;
    box-shadow: none;
    height: 40px;
    padding: 4px 0px;
    width: 80px;
}
